<div class="container">
  <h2>Add Category</h2>
  <form (ngSubmit)="addCategory()" [formGroup]="categoryForm">
    <app-custom-validate-message class="msg-error"
                                 controlName="name"></app-custom-validate-message>
    <mat-form-field appearance="outline">
      <mat-label>Name</mat-label>
      <input formControlName="name" matInput placeholder="Name" type="text"/>
    </mat-form-field>

    <app-custom-validate-message class="msg-error" controlName="description"
                                 minLength="5"></app-custom-validate-message>
    <mat-form-field appearance="outline">
      <mat-label>Description</mat-label>
      <input formControlName="description" matInput placeholder="Description" type="text"/>
    </mat-form-field>

    <button color="primary" mat-raised-button type="submit">Add Category</button>
  </form>
</div>
