<div class="container">
  <h2>Add Product</h2>
  <form (ngSubmit)="addProduct()" [formGroup]="productForm">
    <div class="file-upload-container">
      <label class="file-upload-label">
        <span>Select a File</span>
        <input (change)="onFileSelected($any($event.target).files)"
               accept="image/**"
               hidden
               id="fileInput"
               type="file"/>
        <mat-icon>attach_file</mat-icon>
      </label>

      <div class="image-preview">
        @if (selectedFile) {
          <div class="circle-image">
            <img [src]="imagePreview()" alt="selected image" class="preview-image">
          </div>
        } @else {
          <div class="circle-image-lower">
            <img src="./assets/images/sem-foto.jpg" alt="selected image" class="preview-image">
          </div>
        }
      </div>
    </div>

    <mat-form-field appearance="outline" class="form-field">
      <mat-label>Select a Category</mat-label>
      <mat-select formControlName="categoryId">
        @for (category of listCategories(); track category.id) {
          <mat-option value="{{ category.id}}">
            {{ category.name }}
          </mat-option>
        }
      </mat-select>

      @if (productForm.controls.categoryId.hasError('required')) {
        <mat-error>Category is required</mat-error>
      }
    </mat-form-field>
    <!--NAME-->
    <mat-form-field appearance="outline" class="form-field">
      <mat-label>Name</mat-label>
      <input formControlName="name" matInput placeholder="Name" type="text"/>

      @if (productForm.controls.name.hasError('required') && productForm.touched) {
        <mat-error>Name is required</mat-error>
      } @else if (productForm.controls.name.hasError('minlength')) {
        <mat-error>Name must have at least 3 characters</mat-error>
      }
    </mat-form-field>

    <mat-form-field appearance="outline" class="form-field">
      <mat-label>Price</mat-label>
      <input formControlName="price" matInput placeholder="Price" type="number"/>

      @if (productForm.controls.price.hasError('required') && productForm.touched) {
        <mat-error>Price is required</mat-error>
      }
    </mat-form-field>

    <mat-form-field appearance="outline" class="form-field">
      <mat-label>Description</mat-label>
      <textarea formControlName="description" matInput placeholder="Description"></textarea>

      @if (productForm.controls.description.hasError('required') && productForm.touched) {
        <mat-error>Description is required</mat-error>
      } @else if (productForm.controls.description.hasError('minlength')) {
        <mat-error>Description must have at least 5 characters</mat-error>
      }
    </mat-form-field>

    <button color="primary" mat-raised-button type="submit">Add Product</button>
  </form>
</div>
